body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

h1 {
    color: rgb(151, 130, 232);
    background-color: rgb(231, 196, 243);    
}
h2 { 
    color: darkgreen;
}

p{

color: rgb(128, 126, 126)
}

div{
    width: 80%;
    margin: 0 auto;
    background-color: #f8e6f2;
    padding: 20px;
    border-radius: 10px;
   
}

img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
}